.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.fetch-button {
  min-width: 120px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #bbf1fa;
  border: none;
  color: rgb(17, 61, 51);
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: #77d1e0;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 27%;
  color: rgb(41, 43, 44);
  flex-basis: width;
  background-color: rgb(165, 230, 230);
}

.postId {
  opacity: 0.7;
  margin: 10px 0 0;
}

.userId {
  margin: 10px 0;
  font-style: italic;
}
